.header_bar {
    height: 80px;
    width: 100%;
    background-color: #4d7b80;
}

#left_header {
    font-size: 50px;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4a6c6f;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -3px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    padding: 0;
    height: 60px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}